@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: hsla(240, 6%, 21%, 1);
    --button-bg-primary-color: hsla(240, 9%, 89%, 1);
    --button-bg-selected-color: hsla(194, 97%, 31%, 1);
    --button-icon-selected-color: hsla(0, 0%, 100%, 1);
    --bg-color: #FFF;
    --dm-bg: hsla(240, 5%, 7%, 1);
    --dm-ctrl-btn: hsla(240, 7%, 78%, 1);
    --dm-templates-bg: hsla(240, 6%, 17%, 1);
    --dm-template-selected-bg: hsla(195, 74%, 15%, 1);
}


body {
    background: var(--bg-color);
    min-height: 100vh;
    font-size: 12.6rem;
    font-family: 'Roboto', sans-serif;
    position: relative;

}

body.dark-mode{
    background: var(--dm-bg);
    color: var(--button-icon-selected-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10rem;
    
}

.display-panel {
    width: 32.1rem;
}

#timer {
    width: 32rem;
    height: 14.8rem;
    font-weight: 500;
    line-height: 14.8rem;
    text-align: center;
    display: flex;
    gap: .5rem;
    font-size: 12.6rem;
}

#controls {
    width: 100%;
    display: flex;
    gap: 4rem;
    padding: 0 .5rem;
}

.control-buttons {
    border: none;
    background: none;
    cursor: pointer;
}

.control-buttons svg path.dark-mode {
    fill: var(--dm-ctrl-btn);
}

.templates {
    width: 30.8rem;
    height: 33.6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

}

.template-container {
    width: 13.8rem;
    height: 15.2rem;
    border: none;
    border-radius: 2.4rem;
    background: var(--button-bg-primary-color);
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.template-container.dark-mode{
    background: var(--dm-templates-bg);
}

.template-container.dark-mode.selected {
    background: var(--dm-template-selected-bg);
}


.template-container.selected{
    background: var(--button-bg-selected-color);
    color: var(--button-icon-selected-color);
}

.template-container svg path {
    fill: var(--primary-color);
}

.template-container svg path.dark-mode{
    fill: var(--dm-ctrl-btn);
}

.template-container svg path.selected {
    fill: var(--button-icon-selected-color);
}

.volume-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 2.4rem;
}

.volume-bar input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: .4rem;
    border-radius: .5rem;
    background: var(--primary-color);
}

.volume-bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--primary-color);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 5rem;
}

.volume-bar input[type="range"].selected,
.volume-bar input[type="range"].selected::-webkit-slider-thumb  {
    background: var(--button-icon-selected-color)
}

.volume-bar input[type="range"].dark-mode,
.volume-bar input[type="range"].dark-mode::-webkit-slider-thumb {
    background: var(--dm-ctrl-btn);
}

.volume-bar input[type="range"].dark-mode.selected,
.volume-bar input[type="range"].dark-mode.selected::-webkit-slider-thumb {
    background: var(--button-icon-selected-color);
}

.dark-mode-buttons {
    position: absolute;
    top: 0;
    width: 32rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6rem 0 0 0;

}

.background-mode {
    cursor: pointer;
    border: none;
    background: none;
}

.hide {
    display: none;
}

@media (min-width: 630px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        max-width: 82rem;
        margin: 0 auto;
        gap: 0;
    }

    .dark-mode-buttons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 6rem 6rem 0 0;
    
    }

}